*{
    margin: 0;
    padding: 0;
}
.body2{
    margin: 0;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    min-height: 100vh;
}
.fondo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1a0321;
    font-family: consolas;
}
.contenedor{
    margin: auto;
    perspective: 700px;

}
p{
    text-align: center;
    margin-top: 70px;
    font-family: monospace;
    font-size: 30px;
    font: bold;
}
.cubo{
    width: 200px;
    height: 200px;
    z-index: 3;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(50deg);
    animation: girar 5s infinite linear;
}
@keyframes girar{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
.cara{
    position: absolute;
    width: 100%;
    height: 100%;
}
#uno{
    background-color: rgba(255, 255, 255, 0.973); 
    border: 8px solid black;
    border-radius: 15px;
    transform: translateZ(110px);
}
#dos{
    background-color: rgba(255, 255, 255, 0.973);
    border: 8px solid black;
    border-radius: 15px;
    transform: translateX(110px) rotateY(90deg);
}
#tres{
    background-color: rgba(255, 255, 255, 0.973); 
    border: 8px solid black;
    border-radius: 15px;
    transform: translateZ(-110px);
}
#cuatro{
    background-color: rgba(255, 255, 255, 0.973);; 
    border: 8px solid black;
    border-radius: 15px;
    transform: translateX(-110px) rotateY(90deg);
}
#cinco{
    background-color: rgba(255, 255, 255, 0.973); 
    border: 8px solid black;
    border-radius: 15px;
    transform: translateY(-110px) rotateX(90deg);
}
#seis{
    background-color: rgba(255, 255, 255, 0.973);
    border: 8px solid black;
    border-radius: 15px;
    transform: translateY(110px) rotateX(90deg);
}

/*BOTON*/
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/*VIDEO DE FONDO*/
#hero{
    min-height: 100vh;
    position: relative;
  }
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.171);
 } 
 .saludo{
     padding-top: 250px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 60%;
     margin: auto;
     position: relative;
     z-index: 2;
 }
 .nave{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2
 }
 .color{
     margin-top: 30%;
     color: white;
     font-family: 'Starmap';
 }
 .color2{
     color: white;
     font-family: 'Starmap';
 }
 /* .foto{
     position: relative;
     z-index: 3;
 } */
 .animada{
     animation-name: animada;
     animation-iteration-count: infinite;
     animation-duration: 3s;
     animation-timing-function: linear;
 }
 @keyframes animada {
    0%  {left: -600px; top: 0px;}
    25% {left: 200px; top: 0px;}
    50% {left: 200px; top: 260px}
    75% {left: -400px; top: 10px;}
    100% {left: 250px; top: 0px;}
 }
 @font-face{
    font-family:"Starmap";
    src: url("./00TT.TTF");
  }
  /*BOTON INICION*/
  .botom{
      display: flex;
      justify-content: center;
  }
  .boton{
     position: relative;
     z-index: 2;
     display: inline-block;
     text-align: center;
     color: white;
     background: #c31432;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     padding: 1rem 2rem;
     border-radius: .25rem;
     min-width: 200px;
     text-decoration: none;
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
     animation: pulse 1.5s infinite;
  }
  @keyframes pulse {
    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
  }
  /*ANIMACION CUBITOS*/
  .cubitos{
      /* border-radius: 50%;
      background: #fff; */
      opacity: 0;
      position: absolute;
      bottom: 0;
      
      animation: cubos 3s linear infinite;
  }
.cubitos:nth-child(1){
      width: 80px;
      height: 80px;
      left: 5%;
      bottom: 0;
      animation-duration: 1s;
}
.cubitos:nth-child(2){
    width: 50px;
    height: 50px;
    left: 25%;
    bottom: 0;
    animation-duration: 2s;
}
.cubitos:nth-child(3){
    width: 30px;
    height: 30px;
    left: 30%;
    bottom: 0;
    animation-duration: 4s;
}
.cubitos:nth-child(4){
    width: 30px;
    height: 35px;
    left: 85%;
    bottom: 0;
    animation-duration: 5s;
}
.cubitos:nth-child(5){
    width: 10px;
    height: 10px;
    left: 35%;
    bottom: 0;
    animation-duration: 3s;
}
.cubitos:nth-child(6){
    width: 40px;
    height: 45px;
    left: 75%;
    bottom: 0;
    animation-duration: 4s;
}
.cubitos:nth-child(7){
    width: 40px;
    height: 40px;
    left: 68%;
    bottom: 0;
    animation-duration: 3s;
}
.cubitos:nth-child(8){
    width: 30px;
    height: 30px;
    left: 95%;
    bottom: 0;
    animation-duration: 4s;
}
.cubitos:nth-child(9){
    width: 30px;
    height: 30px;
    left: 90%;
    bottom: 0;
    animation-duration: 3s;
}
.cubitos:nth-child(10){
    width: 45px;
    height: 40px;
    left: 62%;
    bottom: 0;
    animation-duration: 2s;
}
.cubitos:nth-child(11){
    width: 50px;
    height: 50px;
    left: 90%;
    bottom: 0;
    animation-duration: 1s;
}



  @keyframes cubos {
      0%{
          bottom: 10%;
          opacity: 0;
      }
      50%{
          opacity: .4;
          
      }
      100%{
          bottom: 100vh;
          opacity: 0;
         
      }
  }